<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<ErrorLogDir>D:\data\</ErrorLogDir>
<DownloadDir>D:\data\Downloads\</DownloadDir>
<Database>
<GlobalSchema>EASTWeb</GlobalSchema>
<HostName>localhost</HostName>
<Port>5432</Port>
<DatabaseName>postgres</DatabaseName>
<UserName>postgres</UserName>
<PassWord>eastweb</PassWord>
<MaxNumOfConnectionsPerInstance>50</MaxNumOfConnectionsPerInstance>
</Database>
<Output>
<TemporalSummaryCompositionStrategy>GregorianWeeklyStrategy</TemporalSummaryCompositionStrategy>
<TemporalSummaryCompositionStrategy>GregorianMonthlyStrategy</TemporalSummaryCompositionStrategy>
<TemporalSummaryCompositionStrategy>GregorianDailyStrategy</TemporalSummaryCompositionStrategy>
<TemporalSummaryCompositionStrategy>CDCWeeklyStrategy</TemporalSummaryCompositionStrategy>
<TemporalSummaryCompositionStrategy>WHOWeeklyStrategy</TemporalSummaryCompositionStrategy>
<TemporalSummaryCompositionStrategy>CompositeOf8Days</TemporalSummaryCompositionStrategy>
<SummaryCalculation>Count</SummaryCalculation>
<SummaryCalculation>Max</SummaryCalculation>
<SummaryCalculation>Mean</SummaryCalculation>
<SummaryCalculation>Min</SummaryCalculation>
<SummaryCalculation>SqrSum</SummaryCalculation>
<SummaryCalculation>StdDev</SummaryCalculation>
<SummaryCalculation>Sum</SummaryCalculation>
</Output>
</config>
